<h1>People</h1>

<p>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Create New Person
  </button>
</p>

<div class="collapse mb-4" id="collapseExample">
  <div class="card card-body">
     <%= render "new", person: @person %>
  </div>
</div>

<% @people.each do |person| %>
  <%= render "person", person: person %>
<% end %>